{% extends "layout.html" %}
{% block content %}
 <div class="row">
     {% for post in posts.items  %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 mr-1 shadow-sm h-md-250 position-relative">
        <div style="position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;">
            <img  class="rounded mx-auto d-block" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <a class="mr-2" href="{{ url_for('users.user_posts', username = post.author.username ) }}"><strong class="d-inline-block mb-2 text-primary">{{ post.author.username }}</strong></a>
          <h5 class="mb-0"><a class="article-title" >{{ post.title[:30] }}</a></h5>
          <div class="mb-1 text-muted"><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></div>
          <p class="card-text mb-auto">{{ post.content[:80] }}</p>
          <a href="{{url_for('posts.post',post_id = post.id)}}" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current =1, right_current = 2) %}
        {% if page_num %}
            {% if posts.page == page_num%}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home',page = page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home',page = page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
                ...
        {% endif %}
    {% endfor %}
{% endblock content %}